doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav.navbar.navbar-expand-lg.navbar-dark.bg-danger
      .container-fluid
        a.navbar-brand(href='/') Loc8r
        button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarMain', aria-controls='navbarMain', aria-expanded='false', aria-label='Toggle navigation')
          span.navbar-toggler-icon
        .collapse.navbar-collapse#navbarMain
          ul.navbar-nav.me-auto
            li.nav-item
              a.nav-link(href='/about') About

    .container.py-4
      block content

    script(src='/javascripts/bootstrap.bundle.min.js')